#### Primero importamos las librerias necesarias

In [1]:
# Para convertirlo en un df
import pandas as pd
# Para c谩lculos numericos
import numpy as np
# Para graficar
import matplotlib.pyplot as plt
import seaborn as sns
# Para normalizar los datos
from sklearn.preprocessing import MinMaxScaler

## ***1.- Recopilaci贸n de Datos***

In [2]:
df = pd.read_csv('datasets/titanik_train.csv', index_col=0)

In [4]:
# por si acaso creamos una copia del df
df_copy = df.copy()

## **2.- Exploraci贸n y An谩lisis de Datos**

In [5]:
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##### Seg煤n donde saque este dataset, survived representa con un 1 si sobrevivieron y 0 si no

In [ ]:
#vemos algunas metricas como la mediana, minimo, maximo etc..
df.describe()

In [ ]:
df.info()

In [ ]:
df.shape

#### Vamos a visualizar un poco nuestros datos

In [ ]:
sns.countplot(x='Sex', data=df)
plt.show()

In [ ]:
sns.countplot(x='Embarked', data=df)
plt.show()

#### Nos conviene estratificar tambien la columna embarked, ya que esta un poco desigual

In [ ]:
sns.countplot(x='Ticket', data=df)
plt.show()

In [ ]:
sns.countplot(x='Cabin', data=df)
plt.show()

#### Como vemos hay un monton de caracteristicas en el ticket y en cabin, nos convendria eliminarlos para hacer nuesto modelo mas sencillo

In [ ]:
# Eliminamos ticket
columna_a_eliminar = 'Ticket'
df = df.drop(columna_a_eliminar, axis=1)

# Eliminamos Cabin
columna_a_eliminar = 'Cabin'
df = df.drop(columna_a_eliminar, axis=1)

# de paso eliminamos la columna name tambien ya que no parece muy relevante
columna_a_eliminar = 'Name'
df = df.drop(columna_a_eliminar, axis=1)

## 3.- Divisi贸n de Datos

#### Hay que dividir los datos en entrenamiento, evaluaci贸n y prueba

In [ ]:
# importamos train_test_split para dividir los datos
from sklearn.model_selection import train_test_split

train_set, val_set = train_test_split(df, test_size=0.1, random_state=42)

In [ ]:
print(f'la longitud de train_set es de: {len(train_set)}')
print(f'la longitud de val_set es de: {len(val_set)}')

#### Ahora separamos las etiquetas (salidas 'y'), de las caracteristicas (entradas 'x')

In [ ]:
# separamos el de entrenamiento 
x_train = train_set.drop('Survived', axis=1)
y_train = train_set['Survived'].copy()

In [ ]:
# Ahora los de validaci贸n
x_val = val_set.drop('Survived', axis=1)
y_val = val_set['Survived'].copy()

## 4.- Preprocesamiento de datos

#### Antes de entrenar al m贸delo, hay que preparar los datos, como imputar, normalizar o estandarizar y codificar

In [ ]:
x_train.head()

##### Los NaN son los valores nulos que hay que eliminar

In [ ]:
columns_with_nulls = x_train.columns[x_train.isnull().any()]
print(columns_with_nulls)

#### Estas son las columnas con valores nulos

### 4.1.- Imputar

In [ ]:
#para imputar los datos importamos simpleimputer
from sklearn.impute import SimpleImputer

# seleccionamos las columnas numericas
numeric_columns = x_train.select_dtypes(include=['number']).columns

# seleccionamos las categorias
cat_columns = x_train.select_dtypes(include=['object']).columns

# Imputamos valores num茅ricos con la mediana
numeric_imputer = SimpleImputer(strategy='median')# instanciamos ese imputador numerico
x_train[numeric_columns] = numeric_imputer.fit_transform(x_train[numeric_columns])

# Imputamos las categorias con el valor mas frecuente
imputer_categorical = SimpleImputer(strategy='most_frequent')# instanciamos ese imputador categorico
x_train[cat_columns] = imputer_categorical.fit_transform(x_train[cat_columns])

In [ ]:
x_train.head()

#### Los valores nulos se han eliminado, en cambio esta la media y la categoria mas frecuente

In [ ]:
columns_with_nulls = x_train.columns[x_train.isnull().any()]
print(columns_with_nulls)

In [ ]:
x_train.shape

### 4.2.- Normalizar

#### Ahora vamos a normalizar los datos, es decir, vamos a hacer que los valores no tengan mucha diferencia entre si, sino que tengan una escala entre 0 y 1

In [ ]:
# lo haremos con minmaxscaler

# Creamos un objeto MinMaxScaler
scaler = MinMaxScaler()

# Seleccionamos solo las columnas num茅ricas para la normalizaci贸n
numeric_cols = x_train.select_dtypes(include='number').columns

# Normalizar las columnas num茅ricas
x_train[numeric_cols] = scaler.fit_transform(x_train[numeric_cols])

# Ahora, el df contiene las columnas num茅ricas normalizadas
x_train.head()

### 4.3.- Codificar

#### El ultimo paso seria codificarlo, es decir, convertir las categorias (letras), en n煤meros

In [ ]:
# Seleccionar columnas categ贸ricas
cat_columns1 = x_train.select_dtypes(include=['object']).columns

# Aplicar One-Hot Encoding al conjunto de entrenamiento
x_train = pd.get_dummies(x_train, columns=cat_columns1, dtype=float)

In [ ]:
x_train.head()

In [ ]:
x_train.shape

#### ok, x_train ya esta, ahora hay que hacer lo mismo con x_val

In [ ]:
x_val.head()

#### Lo se, es un co帽aso empezar de nuevo, pues por eso estan los pipelines que lo aprenderemos en otro momento

In [ ]:
#para imputar los datos importamos simpleimputer
from sklearn.impute import SimpleImputer

# seleccionamos las columnas numericas
numeric_columns = x_val.select_dtypes(include=['number']).columns

# seleccionamos las categorias
cat_columns = x_val.select_dtypes(include=['object']).columns

# Imputamos valores num茅ricos con la mediana
numeric_imputer = SimpleImputer(strategy='median')# instanciamos ese imputador numerico
x_val[numeric_columns] = numeric_imputer.fit_transform(x_val[numeric_columns])

# Imputamos las categorias con el valor mas frecuente
imputer_categorical = SimpleImputer(strategy='most_frequent')# instanciamos ese imputador categorico
x_val[cat_columns] = imputer_categorical.fit_transform(x_val[cat_columns])

In [ ]:
x_val.head()

In [ ]:
# lo haremos con minmaxscaler

# Creamos un objeto MinMaxScaler
scaler = MinMaxScaler()

# Seleccionamos solo las columnas num茅ricas para la normalizaci贸n
numeric_cols = x_val.select_dtypes(include='number').columns

# Normalizar las columnas num茅ricas
x_val[numeric_cols] = scaler.fit_transform(x_val[numeric_cols])

# Ahora, el df contiene las columnas num茅ricas normalizadas

In [ ]:
x_val.head()

In [ ]:
# Seleccionar columnas categ贸ricas
cat_columns1 = x_val.select_dtypes(include=['object']).columns

# Aplicar One-Hot Encoding al conjunto de entrenamiento
x_val = pd.get_dummies(x_val, columns=cat_columns1, dtype=float)

In [ ]:
x_val.head()

In [ ]:
y_train.isnull().any()

## 5.- Entrenamiento

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=5000)
model.fit(x_train, y_train)

##### Ya tenemos el modelo 
##### Ahora solo nos toca predecir nuevos valores y ver quetal se comporta este modelo

In [ ]:
y_val_predic = model.predict(x_val)

# Estas son las 5 primeras predicciones de mi modelo para los datos x_val
y_val_predic[0:5]

## 6.- Evaluaci贸n

###  Matriz de confusi贸n

##### Aqui se ve que 46 ejemplos han dado 0 (no sobrevivio) asertados y 8 no
##### Y que 29 ha dado 1 (sobrevivio) asertados y 1 ha dado 29 (no sobrevivio)

In [ ]:
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

# Calcular la matriz de confusi贸n
cm = confusion_matrix(y_val, y_val_predic, labels=model.classes_)

# Crear una visualizaci贸n de la matriz de confusi贸n
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=model.classes_)

# Mostrar la visualizaci贸n
disp.plot()
plt.show()

#### Metricas derivadas de la matriz de confusi贸n

### Precisi贸n

In [ ]:
from sklearn.metrics import precision_score
print('Precisi贸n:', precision_score(y_val, y_val_predic, pos_label=0))

#### aqui vemos que el 0,7% ha acertado los 0 (no sobrevivio)

In [ ]:
from sklearn.metrics import precision_score
print('Precisi贸n:', precision_score(y_val, y_val_predic, pos_label=1))

##### Y un 86% ha acertado con el 1 (sobrevivio)

### Recall

In [ ]:
from sklearn.metrics import recall_score
print('Recall:', recall_score(y_val, y_val_predic, pos_label=1))

### F1 score

In [ ]:
from sklearn.metrics import f1_score
print('f1_score: ', f1_score(y_val, y_val_predic, pos_label=1))

### Curva de ROC y PR

#### Curva de ROC

In [ ]:
from sklearn import metrics
fpr, tpr, thresholds = metrics.roc_curve(y_val, y_val_predic)
roc_auc = metrics.auc(fpr, tpr)
display = metrics.RocCurveDisplay(fpr=fpr, tpr=tpr, roc_auc=roc_auc, estimator_name='example estimator')
display.plot()
plt.show()