In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../../3.- Datasets/iris.csv', index_col=0)

In [3]:
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
#especies = df.groupby('Species').agg({
#     : 'count'
#})

In [15]:
# Creamos una nueva columna 'Nuevo_Id' que tenga valores Ãºnicos
df['idcol'] = range(1, len(df) + 1)

In [16]:
especies = df.groupby('Species').agg({'id_col' : 'count'})

In [17]:
especies

                 Id_col
Species
Iris-setosa          50
Iris-versicolor      50
Iris-virginica       50

In [18]:
especies.plot.bar(
y=Id_col
)

NameError: name 'Id_col' is not defined